#
# Copyright 2021-2025 Software Radio Systems Limited
#
# By using this file, you agree to the terms and conditions set
# forth in the LICENSE file which can be found at the top level of
# the distribution.
#

include:
  - project: softwareradiosystems/ci/tools
    ref: "21"
    file: .gitlab/ci-shared/setup/all.yml
  - project: softwareradiosystems/ci/tools
    ref: "21"
    file: .gitlab/ci-shared/features/all.yml
  - project: softwareradiosystems/ci/tools
    ref: "21"
    file: .gitlab/ci-shared/tools/tagger.yml

stages:
  - ci
  - static
  - child
  - release

################################################################################
## Images
################################################################################

linuxptp image:
  stage: child
  variables:
    LINUXPTP_VERSION: "v4.3"
    CT_VERSION: "1.1.1"
  rules:
    - if: $ON_MR
      changes:
        paths:
          - images/linuxptp/**/*
    - if: $ON_DEFAULT_BRANCH
      changes:
        paths:
          - images/linuxptp/**/*
        compare_to: refs/tags/latest
  trigger:
    include: images/linuxptp/.gitlab-ci.yml
    strategy: depend
  needs: []

################################################################################
## Charts
################################################################################

grafana-deployment chart:
  stage: child
  rules:
    - if: $ON_MR
      changes:
        paths:
          - .gitlab/ci/helm_utils.yml
          - charts/grafana-srsran/**/*
  trigger:
    include: charts/grafana-srsran/.gitlab-ci.yml
    strategy: depend
  needs: []

metrics_server chart:
  stage: child
  rules:
    - if: $ON_MR
      changes:
        paths:
          - .gitlab/ci/helm_utils.yml
          - charts/metrics_server/**/*
  trigger:
    include: charts/metrics_server/.gitlab-ci.yml
    strategy: depend
  needs: []

linuxptp chart:
  stage: child
  rules:
    - if: $ON_MR
      changes:
        paths:
          - .gitlab/ci/helm_utils.yml
          - charts/linuxptp/**/*
  trigger:
    include: charts/linuxptp/.gitlab-ci.yml
    strategy: depend
  needs: []

ru_emulator chart:
  stage: child
  rules:
    - if: $ON_MR
      changes:
        paths:
          - .gitlab/ci/helm_utils.yml
          - charts/ru_emulator/**/*
  trigger:
    include: charts/ru_emulator/.gitlab-ci.yml
    strategy: depend
  needs: []

srsran-project chart:
  stage: child
  rules:
    - if: $ON_MR
      changes:
        paths:
          - .gitlab/ci/helm_utils.yml
          - charts/srsran-project/**/*
  trigger:
    include: charts/srsran-project/.gitlab-ci.yml
    strategy: depend
  needs: []

################################################################################
## Tags
################################################################################

create-latest-tag:
  extends: .create-tag
  stage: release
  rules:
    - if: $ON_DEFAULT_BRANCH
  script:
    - delete_tag_if_exist latest
    - create_tag latest
