#
# Copyright 2021-2025 Software Radio Systems Limited
#
# By using this file, you agree to the terms and conditions set
# forth in the LICENSE file which can be found at the top level of
# the distribution.
#

global:
  imagePullSecrets: []
  podAnnotations: {}
  nodeSelector: {}
  tolerations: []
  affinity: {}

sdncWeb:
  image:
    repository: nexus3.onap.org:10001/onap/sdnc-web-image
    tag: 2.8.0
    pullPolicy: IfNotPresent
  service:
    type: NodePort
    port: 8080
    nodePort: 30080
  env:
    enableOAuth: false
    sdnrHost: ""
  ingress:
    enabled: false
    className: ""
    annotations: {}
    hosts:
      - host: sdnc-web.local
        paths:
          - path: /
            pathType: Prefix
    tls: []
  resources: {}

sdnr:
  image:
    repository: nexus3.onap.org:10001/onap/sdnc-image
    tag: 2.6.1
    pullPolicy: IfNotPresent
  service:
    type: ClusterIP
    port: 8181
  adminCredentials:
    username: root
    password: root
    existingSecret: ""
  configDir: /opt/onap/ccsdk/data/properties
  javaOpts: "-Xms256m -Xmx4g"
  env:
    sdnrControllerId: c94bbd5f-d456-44bd-aa7a-47b274f73762
    a1AdapterNorthbound: "false"
    ccsdkReplicas: "0"
    domain: ""
    enableOAuth: "false"
    sdnrDbUrl: ""
    sdnrDbType: ELASTICSEARCH
    sdnrDm: "false"
    sdnrInit: "true"
    sdnrOnly: "true"
    sdnrWt: "true"
    sdnrAsyncHandling: "true"
    sdnrAsyncPoolSize: "200"
    sdnrNetconfCallHomeEnabled: "true"
  persistence:
    enabled: false
    existingClaim: ""
    accessModes:
      - ReadWriteOnce
    size: 2Gi
    storageClass: ""
  config:
    devicemanager: |-
      [aai]
      aaiPropertiesFile=null
      aaiUrl=off
      aaiHeaders=["X-TransactionId: 9999"]
      aaiDeleteOnMountpointRemove=false
      aaiTrustAllCerts=false
      aaiApiVersion=aai/v13
      aaiClientConnectionTimeout=30000
      aaiApplicationId=SDNR
      aaiReadTimeout=60000
      aaiUserCredentials=
      aaiPcks12ClientCertFile=
      aaiPcks12ClientCertPassphrase=

      [devicemonitor]
      SeverityconnectionLossOAM=Major
      SeverityconnectionLossMediator=Major
      SeverityconnectionLossNeOAM=Major

      [dmonf]
      pollAlarms=false

      [toggleAlarmFilter]
      taEnabled=true
      taDelay=3000

      [housekeeping]
      hkEnabled=false

      [dcae]
      dcaeUrl=off
      dcaeUserCredentials=admin:admin
      dcaeHeartbeatPeriodSeconds=120

      [pm]
      pmEnabled=true

      [VESCollector]
      VES_COLLECTOR_ENABLED={{ ternary "true" "false" .Values.vesCollector.enabled }}
      VES_COLLECTOR_TLS_ENABLED={{ ternary "true" "false" .Values.vesCollector.tls.enabled }}
      VES_COLLECTOR_TRUST_ALL_CERTS={{ ternary "true" "false" .Values.vesCollector.tls.trustAll }}
      VES_COLLECTOR_USERNAME={{ .Values.vesCollector.credentials.username }}
      VES_COLLECTOR_PASSWORD={{ .Values.vesCollector.credentials.password }}
      VES_COLLECTOR_IP={{ include "onap-smo-lite.vesCollectorHost" . }}
      VES_COLLECTOR_PORT={{ .Values.vesCollector.service.port }}
      VES_COLLECTOR_VERSION={{ .Values.vesCollector.version }}
      REPORTING_ENTITY_NAME=ONAP SDN-R
      EVENTLOG_MSG_DETAIL=SHORT

      [dmonf14]
      useDomApi=${SDNR_ONF14_USEDOMAPI}
  configMountPath: /opt/opendaylight/etc
  resources: {}

sdnrRegistrar:
  config: |-
    [stndDefinedFault]
    topic=unauthenticated.SEC_3GPP_FAULTSUPERVISION_OUTPUT
    consumerGroup=myG
    consumerID=C1
    timeout=20000
    limit=10000
    fetchPause=5000

    [general]
    baseUrl=http://{{ include "onap-smo-lite.componentName" (dict "root" . "component" "sdnr") }}:{{ .Values.sdnr.service.port }}
    sdnrUser=admin
    sdnrPasswd=${ODL_ADMIN_PASSWORD}

    [strimzi-kafka]
    strimziEnabled={{ ternary "true" "false" .Values.kafka.enabled }}
    bootstrapServers={{ include "onap-smo-lite.kafkaHost" . }}:{{ .Values.kafka.service.port }}
    securityProtocol=PLAINTEXT
    saslMechanism=PLAIN
    saslJaasConfig=PLAIN

    [fault]
    topic=unauthenticated.SEC_FAULT_OUTPUT
    consumerGroup=myG
    consumerID=C1
    timeout=20000
    limit=10000
    fetchPause=5000

    [provisioning]
    topic=unauthenticated.SEC_3GPP_PROVISIONING_OUTPUT
    consumerGroup=myG
    consumerID=C1
    timeout=20000
    limit=10000
    fetchPause=5000

    [pnfRegistration]
    topic=unauthenticated.VES_PNFREG_OUTPUT
    consumerGroup=myG
    consumerID=C1
    timeout=20000
    limit=10000
    fetchPause=5000

zookeeper:
  enabled: true
  image:
    repository: quay.io/strimzi/kafka
    tag: 0.43.0-kafka-3.8.0
    pullPolicy: IfNotPresent
  service:
    type: ClusterIP
    port: 2181
  env:
    LOG_DIR: /tmp/logs
    ZOOKEEPER_REPLICAS: "1"
    ZOOKEEPER_TICK_TIME: "2000"
    ZOOKEEPER_SYNC_LIMIT: "5"
    ZOOKEEPER_INIT_LIMIT: "10"
    ZOOKEEPER_MAX_CLIENT_CNXNS: "200"
    ZOOKEEPER_AUTOPURGE_SNAP_RETAIN_COUNT: "3"
    ZOOKEEPER_AUTOPURGE_PURGE_INTERVAL: "24"
    ZOOKEEPER_CLIENT_PORT: "2181"
  extraEnv: []
  resources: {}

kafka:
  enabled: true
  image:
    repository: quay.io/strimzi/kafka
    tag: 0.43.0-kafka-3.8.0
    pullPolicy: IfNotPresent
  service:
    type: ClusterIP
    port: 9092
  config:
    interBrokerListenerName: PLAINTEXT
    listenerSecurityProtocolMap: PLAINTEXT:PLAINTEXT,INTERNAL_PLAINTEXT:PLAINTEXT,EXTERNAL_PLAINTEXT:PLAINTEXT
    listeners: PLAINTEXT://0.0.0.0:9092
    advertisedListeners: ""
    replicationFactor: 1
    numPartitions: 2
  env:
    LOG_DIR: /tmp/logs
    enableCadi: "false"
    KAFKA_ZOOKEEPER_CONNECT: ""
    KAFKA_ZOOKEEPER_CONNECTION_TIMEOUT_MS: "40000"
    KAFKA_ZOOKEEPER_SESSION_TIMEOUT_MS: "40000"
    KAFKA_CONFLUENT_SUPPORT_METRICS_ENABLE: "false"
    KAFKA_ZOOKEEPER_SET_ACL: "true"
    KAFKA_OFFSETS_TOPIC_NUM_PARTITIONS: "2"
  auth:
    enabled: true
    username: kafka
    password: kafka_secret
  extraEnv: []
  resources: {}

kafkaUi:
  enabled: true
  image:
    repository: provectuslabs/kafka-ui
    tag: v0.7.2
    pullPolicy: IfNotPresent
  service:
    type: NodePort
    port: 8080
    nodePort: 30085
  ingress:
    enabled: false
    className: ""
    annotations: {}
    hosts:
      - host: kafka-ui.local
        paths:
          - path: /
            pathType: Prefix
    tls: []
  env:
    dynamicConfigEnabled: "true"
  extraEnv: []
  resources: {}

vesCollector:
  enabled: true
  image:
    repository: nexus3.onap.org:10001/onap/org.onap.dcaegen2.collectors.ves.vescollector
    tag: 1.12.4
    pullPolicy: IfNotPresent
  service:
    type: ClusterIP
    port: 8443
  env:
    bootstrapServers: ""
  tls:
    enabled: false
    trustAll: true
  credentials:
    username: sample1
    password: sample1
  version: v7
  config:
    collectorProperties: |-
    dmaapConfig: |-
  extraEnv: []
  resources: {}

sdnrdb:
  image:
    repository: docker.elastic.co/elasticsearch/elasticsearch-oss
    tag: 7.9.3
    pullPolicy: IfNotPresent
  service:
    type: ClusterIP
    port: 9200
  env:
    discoveryType: single-node
  persistence:
    enabled: false
    existingClaim: ""
    accessModes:
      - ReadWriteOnce
    size: 5Gi
    storageClass: ""
  resources: {}
