#
# Copyright 2021-2025 Software Radio Systems Limited
#
# By using this file, you agree to the terms and conditions set
# forth in the LICENSE file which can be found at the top level of
# the distribution.
#

global:
  imagePullSecrets: []
  podAnnotations: {}
  nodeSelector: {}
  tolerations: []
  affinity: {}

sdncWeb:
  image:
    repository: nexus3.onap.org:10001/onap/sdnc-web-image
    tag: 3.1.1-STAGING-latest
    pullPolicy: IfNotPresent
  service:
    type: NodePort
    port: 8080
    nodePort: 30080
  env:
    enableOAuth: false
    sdnrHost: "onap-smo-sdnr.onap.svc.srsk8s.bcn"
  ingress:
    enabled: false
    className: ""
    annotations: {}
    hosts:
      - host: sdnc-web.local
        paths:
          - path: /
            pathType: Prefix
    tls: []
  resources: {}

sdnr:
  image:
    repository: nexus3.onap.org:10001/onap/sdnc-image
    tag: 3.1.1-STAGING-latest
    pullPolicy: IfNotPresent
  service:
    type: ClusterIP
    port: 8181
  adminCredentials:
    username: root
    password: root
    existingSecret: ""
  configDir: /opt/onap/ccsdk/data/properties
  javaOpts: "-Xms256m -Xmx4g"
  env:
    sdnrControllerId: c94bbd5f-d456-44bd-aa7a-47b274f73762
    a1AdapterNorthbound: "false"
    ccsdkReplicas: "0"
    domain: ""
    enableOAuth: "false"
    sdnrDbUrl: "http://onap-smo-sdnrdb.onap.svc.srsk8s.bcn:9200"
    sdnrDbType: ELASTICSEARCH
    sdnrDm: "false"
    sdnrInit: "true"
    sdnrOnly: "true"
    sdnrWt: "true"
    sdnrAsyncHandling: "true"
    sdnrAsyncPoolSize: "200"
    sdnrNetconfCallHomeEnabled: "true"
  persistence:
    enabled: false
    existingClaim: ""
    accessModes:
      - ReadWriteOnce
    size: 2Gi
    storageClass: ""
  config:
    devicemanager: |-
      [aai]
      aaiPropertiesFile=null
      aaiUrl=off
      aaiHeaders=["X-TransactionId: 9999"]
      aaiDeleteOnMountpointRemove=false
      aaiTrustAllCerts=false
      aaiApiVersion=aai/v13
      aaiClientConnectionTimeout=30000
      aaiApplicationId=SDNR
      aaiReadTimeout=60000
      aaiUserCredentials=
      aaiPcks12ClientCertFile=
      aaiPcks12ClientCertPassphrase=

      [devicemonitor]
      SeverityconnectionLossOAM=Major
      SeverityconnectionLossMediator=Major
      SeverityconnectionLossNeOAM=Major

      [dmonf]
      pollAlarms=false

      [toggleAlarmFilter]
      taEnabled=true
      taDelay=3000

      [housekeeping]
      hkEnabled=false

      [dcae]
      dcaeUrl=off
      dcaeUserCredentials=root:root
      dcaeHeartbeatPeriodSeconds=120

      [pm]
      pmEnabled=true

      [VESCollector]
      VES_COLLECTOR_ENABLED=false
      VES_COLLECTOR_TLS_ENABLED=false
      VES_COLLECTOR_TRUST_ALL_CERTS=false
      VES_COLLECTOR_USERNAME=sample1
      VES_COLLECTOR_PASSWORD=sample1
      VES_COLLECTOR_IP=onap-smo-ves-collector.onap.svc.srsk8s.bcn
      VES_COLLECTOR_PORT=8443
      VES_COLLECTOR_VERSION=v7
      REPORTING_ENTITY_NAME=ONAP SDN-R
      EVENTLOG_MSG_DETAIL=SHORT

      [dmonf14]
      useDomApi=${SDNR_ONF14_USEDOMAPI}
  configMountPath: /opt/opendaylight/etc
  resources: {}

sdnrRegistrar:
  config: |-
    [stndDefinedFault]
    topic=unauthenticated.SEC_3GPP_FAULTSUPERVISION_OUTPUT
    consumerGroup=myG
    consumerID=C1
    timeout=20000
    limit=10000
    fetchPause=5000

    [general]
    baseUrl=http://onap-smo-sdnr.onap.svc.srsk8s.bcn:8181
    sdnrUser=root
    sdnrPasswd=root

    [strimzi-kafka]
    strimziEnabled=true
    bootstrapServers=onap-smo-kafka.onap.svc.srsk8s.bcn:9092
    securityProtocol=PLAINTEXT
    saslMechanism=PLAIN
    saslJaasConfig=PLAIN

    [fault]
    topic=unauthenticated.SEC_FAULT_OUTPUT
    consumerGroup=myG
    consumerID=C1
    timeout=20000
    limit=10000
    fetchPause=5000

    [provisioning]
    topic=unauthenticated.SEC_3GPP_PROVISIONING_OUTPUT
    consumerGroup=myG
    consumerID=C1
    timeout=20000
    limit=10000
    fetchPause=5000

    [pnfRegistration]
    topic=unauthenticated.VES_PNFREG_OUTPUT
    consumerGroup=myG
    consumerID=C1
    timeout=20000
    limit=10000
    fetchPause=5000

sdnrdb:
  image:
    repository: docker.elastic.co/elasticsearch/elasticsearch-oss
    tag: 7.9.3
    pullPolicy: IfNotPresent
  service:
    type: ClusterIP
    port: 9200
  env:
    discoveryType: single-node
  persistence:
    enabled: false
    existingClaim: ""
    accessModes:
      - ReadWriteOnce
    size: 5Gi
    storageClass: ""
  resources: {}

zookeeper:
  enabled: true
  image:
    repository: quay.io/strimzi/kafka
    tag: 0.43.0-kafka-3.8.0
    pullPolicy: IfNotPresent
  service:
    type: ClusterIP
    port: 2181
  env:
    LOG_DIR: /tmp/logs
    ZOOKEEPER_REPLICAS: "1"
    ZOOKEEPER_TICK_TIME: "2000"
    ZOOKEEPER_SYNC_LIMIT: "5"
    ZOOKEEPER_INIT_LIMIT: "10"
    ZOOKEEPER_MAX_CLIENT_CNXNS: "200"
    ZOOKEEPER_AUTOPURGE_SNAP_RETAIN_COUNT: "3"
    ZOOKEEPER_AUTOPURGE_PURGE_INTERVAL: "24"
    ZOOKEEPER_CLIENT_PORT: "2181"
  extraEnv: []
  resources: {}

kafka:
  enabled: true
  image:
    repository: quay.io/strimzi/kafka
    tag: 0.43.0-kafka-3.8.0
    pullPolicy: IfNotPresent
  service:
    type: ClusterIP
    port: 9092
  config:
    interBrokerListenerName: PLAINTEXT
    listenerSecurityProtocolMap: PLAINTEXT:PLAINTEXT,INTERNAL_PLAINTEXT:PLAINTEXT,EXTERNAL_PLAINTEXT:PLAINTEXT
    listeners: PLAINTEXT://0.0.0.0:9092
    advertisedListeners: "PLAINTEXT://onap-smo-kafka.onap.svc.srsk8s.bcn:9092"
    replicationFactor: 1
    numPartitions: 2
  env:
    LOG_DIR: /tmp/logs
    enableCadi: "false"
    KAFKA_ZOOKEEPER_CONNECT: "onap-smo-zookeeper.onap.svc.srsk8s.bcn:2181"
    KAFKA_ZOOKEEPER_CONNECTION_TIMEOUT_MS: "40000"
    KAFKA_ZOOKEEPER_SESSION_TIMEOUT_MS: "40000"
    KAFKA_CONFLUENT_SUPPORT_METRICS_ENABLE: "false"
    KAFKA_ZOOKEEPER_SET_ACL: "true"
    KAFKA_OFFSETS_TOPIC_NUM_PARTITIONS: "2"
  auth:
    enabled: false
    username: ""
    password: ""
  extraEnv: []
  resources: {}

kafkaUi:
  enabled: true
  image:
    repository: provectuslabs/kafka-ui
    tag: v0.7.2
    pullPolicy: IfNotPresent
  service:
    type: NodePort
    port: 8080
    nodePort: 30085
  ingress:
    enabled: false
    className: ""
    annotations: {}
    hosts:
      - host: kafka-ui.local
        paths:
          - path: /
            pathType: Prefix
    tls: []
  env:
    dynamicConfigEnabled: "true"
  extraEnv: []
  resources: {}

vesCollector:
  enabled: true
  image:
    repository: nexus3.onap.org:10001/onap/org.onap.dcaegen2.collectors.ves.vescollector
    tag: 1.12.4
    pullPolicy: IfNotPresent
  service:
    type: ClusterIP
    port: 8443
  env:
    bootstrapServers: "onap-smo-kafka.onap.svc.srsk8s.bcn:9092"
    dmaapHost: ""
  tls:
    enabled: false
    trustAll: false
  credentials:
    username: sample1
    password: sample1
  version: v7
  config:
    collectorProperties: |
      collector.service.secure.port=8443
      auth.method=certBasicAuth
      header.authlist=sample1,$2a$10$0buh.2WeYwN868YMwnNNEuNEAMNYVU9.FSMJGyIKV3dGET/7oGOi6
      collector.keystore.file.location=etc/keystore
      collector.keystore.passwordfile=etc/passwordfile
      collector.cert.subject.matcher=etc/certSubjectMatcher.properties
      collector.truststore.file.location=etc/truststore
      collector.truststore.passwordfile=etc/trustpasswordfile
      collector.schema.checkflag=1
      collector.schema.file={"v1":"./etc/CommonEventFormat_27.2.json","v2":"./etc/CommonEventFormat_27.2.json","v3":"./etc/CommonEventFormat_27.2.json","v4":"./etc/CommonEventFormat_27.2.json","v5":"./etc/CommonEventFormat_28.4.1.json","v7":"./etc/CommonEventFormat_30.2.1_ONAP.json"}
      collector.externalSchema.checkflag=1
      collector.externalSchema.schemasLocation=etc/externalRepo/
      collector.externalSchema.mappingFileLocation=etc/externalRepo/schema-map.json
      event.externalSchema.schemaRefPath=$.event.stndDefinedFields.schemaReference
      event.externalSchema.stndDefinedDataPath=$.event.stndDefinedFields.data
      collector.dmaap.streamid=fault=ves-fault|syslog=ves-syslog|heartbeat=ves-heartbeat|measurementsForVfScaling=ves-measurement|mobileFlow=ves-mobileflow|other=ves-other|stateChange=ves-statechange|thresholdCrossingAlert=ves-thresholdCrossingAlert|voiceQuality=ves-voicequality|sipSignaling=ves-sipsignaling|notification=ves-notification|pnfRegistration=ves-pnfRegistration|3GPP-FaultSupervision=ves-3gpp-fault-supervision|3GPP-Heartbeat=ves-3gpp-heartbeat|3GPP-Provisioning=ves-3gpp-provisioning|3GPP-PerformanceAssurance=ves-3gpp-performance-assurance|o-ran-sc-du-hello-world-pm-streaming-oas3=ves-o-ran-sc-du-hello-world-pm-streaming-oas3|o1-notify-pnf-registration=ves-o1-notify-pnf-registration
      collector.dmaapfile=etc/ves-dmaap-config.json
      collector.description.api.version.location=etc/api_version_description.json
      event.transform.flag=0
      collector.dynamic.config.update.frequency=5
    dmaapConfig: |
      {
          "ves-syslog": {
              "type": "message_router",
              "dmaap_info": {
                  "location": "mtl5",
                  "topic_url": "http://dmaap-message-router:3904/events/DCAE-SE-COLLECTOR-EVENTS-DEV"
              }
          },
          "ves-statechange": {
              "type": "message_router",
              "dmaap_info": {
                  "location": "mtl5",
                  "topic_url": "http://dmaap-message-router:3904/events/DCAE-SE-COLLECTOR-EVENTS-DEV"
              }
          },
          "ves-thresholdCrossingAlert": {
              "type": "message_router",
              "dmaap_info": {
                  "location": "mtl5",
                  "topic_url": "http://dmaap-message-router:3904/events/DCAE-SE-COLLECTOR-EVENTS-DEV"
              }
          },
          "ves-heartbeat": {
              "type": "message_router",
              "dmaap_info": {
                  "location": "mtl5",
                  "topic_url": "http://dmaap-message-router:3904/events/unauthenticated.SEC_HEARTBEAT_OUTPUT/"
              }
          },
          "ves-other": {
              "type": "message_router",
              "dmaap_info": {
                  "location": "mtl5",
                  "topic_url": "http://dmaap-message-router:3904/events/unauthenticated.SEC_OTHER_OUTPUT/"
              }
          },
          "ves-mobileflow": {
              "type": "message_router",
              "dmaap_info": {
                  "location": "mtl5",
                  "topic_url": "http://dmaap-message-router:3904/events/DCAE-SE-COLLECTOR-EVENTS-DEV"
              }
          },
          "ves-sipsignaling": {
              "type": "message_router",
              "dmaap_info": {
                  "location": "mtl5",
                  "topic_url": "http://dmaap-message-router:3904/events/DCAE-SE-COLLECTOR-EVENTS-DEV"
              }
          },
          "ves-voicequality": {
              "type": "message_router",
              "dmaap_info": {
                  "location": "mtl5",
                  "topic_url": "http://dmaap-message-router:3904/events/DCAE-SE-COLLECTOR-EVENTS-DEV"
              }
          },
          "ves-fault": {
              "type": "message_router",
              "dmaap_info": {
                  "location": "mtl5",
                  "topic_url": "http://dmaap-message-router:3904/events/unauthenticated.SEC_FAULT_OUTPUT/"
              }
          },
          "ves-measurement": {
              "type": "message_router",
              "dmaap_info": {
                  "location": "mtl5",
                  "topic_url": "http://dmaap-message-router:3904/events/unauthenticated.VES_MEASUREMENT_OUTPUT/"
              }
          },
          "ves-3gpp-fault-supervision": {
              "type": "message_router",
              "dmaap_info": {
                  "location": "mtl5",
                  "topic_url": "http://dmaap-message-router:3904/events/unauthenticated.SEC_3GPP_FAULTSUPERVISION_OUTPUT/"
              }
          },
          "ves-3gpp-provisioning": {
              "type": "message_router",
              "dmaap_info": {
                  "location": "mtl5",
                  "topic_url": "http://dmaap-message-router:3904/events/unauthenticated.SEC_3GPP_PROVISIONING_OUTPUT/"
              }
          },
          "ves-3gpp-heartbeat": {
              "type": "message_router",
              "dmaap_info": {
                  "location": "mtl5",
                  "topic_url": "http://dmaap-message-router:3904/events/unauthenticated.SEC_3GPP_HEARTBEAT_OUTPUT/"
              }
          },
          "ves-3gpp-performance-assurance": {
              "type": "message_router",
              "dmaap_info": {
                  "location": "mtl5",
                  "topic_url": "http://dmaap-message-router:3904/events/unauthenticated.SEC_3GPP_PERFORMANCEASSURANCE_OUTPUT/"
              }
          },
          "ves-syslog-secondary": {
              "type": "message_router",
              "dmaap_info": {
                  "location": "mtl5",
                  "topic_url": "http://dmaap-message-router:3904/events/DCAE-SE-COLLECTOR-EVENTS-DEV"
              }
          },
          "ves-statechange-secondary": {
              "type": "message_router",
              "dmaap_info": {
                  "location": "mtl5",
                  "topic_url": "http://dmaap-message-router:3904/events/DCAE-SE-COLLECTOR-EVENTS-DEV"
              }
          },
          "ves-thresholdCrossingAlert-secondary": {
              "type": "message_router",
              "dmaap_info": {
                  "location": "mtl5",
                  "topic_url": "http://dmaap-message-router:3904/events/DCAE-SE-COLLECTOR-EVENTS-DEV"
              }
          },
          "ves-heartbeat-secondary": {
              "type": "message_router",
              "dmaap_info": {
                  "location": "mtl5",
                  "topic_url": "http://dmaap-message-router:3904/events/DCAE-SE-COLLECTOR-EVENTS-DEV"
              }
          },
          "ves-other-secondary": {
              "type": "message_router",
              "dmaap_info": {
                  "location": "mtl5",
                  "topic_url": "http://dmaap-message-router:3904/events/DCAE-SE-COLLECTOR-EVENTS-DEV"
              }
          },
          "ves-mobileflow-secondary": {
              "type": "message_router",
              "dmaap_info": {
                  "location": "mtl5",
                  "topic_url": "http://dmaap-message-router:3904/events/DCAE-SE-COLLECTOR-EVENTS-DEV"
              }
          },
          "ves-sipsignaling-secondary": {
              "type": "message_router",
              "dmaap_info": {
                  "location": "mtl5",
                  "topic_url": "http://dmaap-message-router:3904/events/DCAE-SE-COLLECTOR-EVENTSves7_valid_ip_v4.json-DEV"
              }
          },
          "ves-voicequality-secondary": {
              "type": "message_router",
              "dmaap_info": {
                  "location": "mtl5",
                  "topic_url": "http://dmaap-message-router:3904/events/DCAE-SE-COLLECTOR-EVENTS-DEV"
              }
          },
          "ves-fault-secondary": {
              "type": "message_router",
              "dmaap_info": {
                  "location": "mtl5",
                  "topic_url": "http://dmaap-message-router:3904/events/DCAE-SE-COLLECTOR-EVENTS-DEV"
              }
          },
          "ves-measurement-secondary": {
              "type": "message_router",
              "dmaap_info": {
                  "location": "mtl5",
                  "topic_url": "http://dmaap-message-router:3904/events/DCAE-SE-COLLECTOR-EVENTS-DEV"
              }
          },
          "ves-3gpp-fault-supervision-secondary": {
              "type": "message_router",
              "dmaap_info": {
                  "location": "mtl5",
                  "topic_url": "http://dmaap-message-router:3904/events/unauthenticated.SEC_3GPP_FAULTSUPERVISION_OUTPUT/"
              }
          },
          "ves-3gpp-provisioning-secondary": {
              "type": "message_router",
              "dmaap_info": {
                  "location": "mtl5",
                  "topic_url": "http://dmaap-message-router:3904/events/unauthenticated.SEC_3GPP_FAULTSUPERVISION_OUTPUT/"
              }
          },
          "ves-3gpp-heartbeat-secondary": {
              "type": "message_router",
              "dmaap_info": {
                  "location": "mtl5",
                  "topic_url": "http://dmaap-message-router:3904/events/DCAE-SE-COLLECTOR-EVENTS-DEV"
              }
          },
          "ves-3gpp-performance-assurance-secondary": {
              "type": "message_router",
              "dmaap_info": {
                  "location": "mtl5",
                  "topic_url": "http://dmaap-message-router:3904/events/DCAE-SE-COLLECTOR-EVENTS-DEV"
              }
          },
          "ves-pnfRegistration": {
              "type": "message_router",
              "dmaap_info": {
                  "location": "mtl5",
                  "topic_url": "http://dmaap-message-router:3904/events/unauthenticated.VES_PNFREG_OUTPUT/"
              }
          },
          "ves-o1-notify-pnf-registration": {
              "type": "message_router",
              "dmaap_info": {
                  "location": "mtl5",
                  "topic_url": "http://dmaap-message-router:3904/events/unauthenticated.VES_O1_NOTIFY_PNF_REGISTRATION_OUTPUT/"
              }
          },
          "ves-o-ran-sc-du-hello-world-pm-streaming-oas3": {
              "type": "message_router",
              "dmaap_info": {
                  "location": "mtl5",
                  "topic_url": "http://dmaap-message-router:3904/events/unauthenticated.VES_O_RAN_SC_HELLO_WORLD_PM_STREAMING_OUTPUT/"
              }
          },
          "ves-file-ready": {
              "type": "message_router",
              "dmaap_info": {
                  "location": "mtl5",
                  "topic_url": "http://dmaap-message-router:3904/events/unauthenticated.VES_FILE_READY_OUTPUT/"
              }
          }
      }
