#
# Copyright 2021-2023 Software Radio Systems Limited
#
# By using this file, you agree to the terms and conditions set
# forth in the LICENSE file which can be found at the top level of
# the distribution.
#

include:
  - project: softwareradiosystems/ci/tools
    ref: "20"
    file: .gitlab/ci-shared/setup/all.yml
  - local: .gitlab/ci/helm_utils.yml

stages:
  - static

helm lint:
  extends: .helm lint
  variables:
    CHART_PATH: charts/srsran-project

# chart-config-checker:
#   stage: static
#   image: registry.gitlab.com/softwareradiosystems/srsgnb/srsran_split8_release_avx2:latest
#   tags:
#     - amd64-avx2
#   rules:
#     - if: $ON_MR
#       allow_failure: true
#     - if: $CI_DESCRIPTION =~ /Synchronization with srsGNB/
#   variables:
#     KUBECONFIG_VAR_NAME: "RETINA_NAMESPACE_KUBECONFIG"
#   before_script:
#     - |
#       apt update
#       apt install -y python3-yaml python3-jsonschema curl gpg
#       curl https://baltocdn.com/helm/signing.asc | gpg --dearmor | tee /usr/share/keyrings/helm.gpg > /dev/null
#       echo "deb [arch=$(dpkg --print-architecture) signed-by=/usr/share/keyrings/helm.gpg] https://baltocdn.com/helm/stable/debian/ all main" | tee /etc/apt/sources.list.d/helm-stable-debian.list
#       apt update
#       apt install -y helm

#       eval K_PATH="\$$KUBECONFIG_VAR_NAME"
#       export KUBECONFIG=$K_PATH
#   script:
#     - |
#       SCRIPT_DIR=$CI_PROJECT_DIR/.gitlab/ci/checkers

#       cd charts/srsran-project
#       gnb log --config_level=debug log --filename ./gnb.log > /dev/null 2>&1 || true
#       python3 $SCRIPT_DIR/generate_config.py --input ./gnb.log --mode parse >> default-values.yml

#       helm install --generate-name --dry-run --values=./default-values.yml ./ >> config.txt

#       python3 $SCRIPT_DIR/generate_from_chart_values.py --input-chart-config ./config.txt --output ./helm-config.yml

#       FILE1=./default-values.yml
#       FILE2=./helm-config.yml

#       if diff "$FILE1" "$FILE2"; then
#         echo "$FILE1 and $FILE2 are the same"
#       else
#         echo "$FILE1 and $FILE2 are different"
#         exit 1
#       fi
#   artifacts:
#     paths:
#       - charts/srsran-project/default-values.yml
#       - charts/srsran-project/helm-config.yml
#     when: always
#     expire_in: 8 hours
