#
# Copyright 2021-2025 Software Radio Systems Limited
#
# By using this file, you agree to the terms and conditions set
# forth in the LICENSE file which can be found at the top level of
# the distribution.
#

dbURI: "mongodb://{{ .Release.Name }}-mongodb/open5gs"

populate:
  enabled: false
  image:
    registry: docker.io
    repository: gradiant/open5gs-dbctl
    tag: 0.10.3
    pullPolicy: IfNotPresent
  initCommands:
  - open5gs-dbctl add_ue_with_apn 001010123456789 00112233445566778899aabbccddeeff 63bfa50ee6523365ff14c1f45f88737d srsapn

# Common
mongodb:
  enabled: true
  auth:
    enabled: false
smf:
  enabled: true
  config:
    scp:
      enabled: true
    pcrf:
      enabled: false
    subnetList:
    - subnet: 10.45.0.1/16
      dnn: srsapn
upf:
  enabled: true
  config:
    subnetList:
    - subnet: 10.45.0.1/16
      dnn: srsapn
      dev: ogstun
      createDev: true
      enableNAT: true
webui:
  enabled: true
  services:
    http:
      type: NodePort
      ports:
        http: 9999
    nodePorts:
      http: 30002

# 4G
hss:
  enabled: false
  mongodb:
    enabled: false
mme:
  enabled: false
pcrf:
  enabled: false
  mongodb:
    enabled: false
sgwc:
  enabled: false
sgwu:
  enabled: false

# 5G
amf:
  enabled: true
  config:
    networkName: "srsRAN"
    guamiList:
      - plmn_id:
          mcc: "001"
          mnc: "01"
        amf_id:
          region: 2
          set: 1
    taiList:
      - plmn_id:
          mcc: "001"
          mnc: "01"
        tac: [7]
    plmnList:
      - plmn_id:
          mcc: "001"
          mnc: "01"
        s_nssai:
          - sst: 1
            sd: "0x1"
ausf:
  enabled: true
bsf:
  enabled: true
nrf:
  enabled: true
  config:
    logLevel: info
    servingList:
      - plmn_id:
          mcc: "001"
          mnc: "01"
nssf:
  enabled: true
  config:
    nsiList:
      - nrf:
          hostname: ""  # if empty default is autogenerated open5gs svc fullname
          port: 7777
        sst: 1
        sd: "0x1"
pcf:
  enabled: true
  mongodb:
    enabled: false
udm:
  enabled: true
udr:
  enabled: true
  mongodb:
    enabled: false
scp:
  enabled: true
  mongodb:
    enabled: false
