#
# Copyright 2021-2025 Software Radio Systems Limited
#
# By using this file, you agree to the terms and conditions set
# forth in the LICENSE file which can be found at the top level of
# the distribution.
#

apiVersion: apps/v1
kind: DaemonSet
metadata:
  name: {{ include "linuxptp.fullname" . }}
  labels:
    {{- include "linuxptp.labels" . | nindent 4 }}
spec:
  selector:
    matchLabels:
      {{- include "linuxptp.selectorLabels" . | nindent 6 }}
  template:
    metadata:
      {{- with .Values.podAnnotations }}
      annotations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      labels:
        {{- include "linuxptp.selectorLabels" . | nindent 8 }}
    spec:
      serviceAccountName: {{ include "linuxptp.serviceAccountName" . }}
      securityContext:
        {{- toYaml .Values.podSecurityContext | nindent 8 }}
      hostNetwork: true
      volumes:
        - name: config-volume
          configMap:
            name: linuxptp-configmap
        - name: ts2phc-config-volume
          configMap:
            name: linuxptp-ts2phc-configmap
        - name: ts2phc-leapseconds-volume
          configMap:
            name: linuxptp-ts2phc-leapfile-configmap
        - name: entrypoint-volume-ts2phc
          configMap:
            name: linuxptp-ts2phc-entrypoint-configmap
            defaultMode: 0777
        - name: entrypoint-volume-phc2sys
          configMap:
            name: linuxptp-phc2sys-entrypoint-configmap
            defaultMode: 0777
        - name: ptp4l-run-volume
          hostPath:
            path: "/var/run"
        - name: dev
          hostPath:
            path: "/dev"
      containers:
        - name: {{ .Chart.Name }}-ptp4l
          securityContext:
            {{- toYaml .Values.securityContext | nindent 12 }}
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag | default .Chart.AppVersion }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          resources:
            {{- toYaml .Values.resources | nindent 12 }}
          command: [ "ptp4l" ]
          args: [ "-i", "{{ .Values.interfaceName }}", "-f", "/etc/config/linuxptp.cfg", "-m" ]
          volumeMounts:
            - name: config-volume
              mountPath: /etc/config
            - name: ptp4l-run-volume
              mountPath: "/var/run"
              readOnly: false
          {{- if and (.Values.livenessProbe.enabled) (eq "1" (default .Values.config.serverOnly "0")) }}
          livenessProbe:
            exec:
              command:
              - /usr/local/bin/liveness-ptp4l.sh 
              - "25"  # max rms 25ns
            initialDelaySeconds: {{ .Values.livenessProbe.initialDelaySeconds }}
            periodSeconds: {{ .Values.livenessProbe.periodSeconds }}
          {{- end }}
          {{- if and (.Values.startupProbe.enabled) (eq "1" (default .Values.config.serverOnly "0")) }}
          startupProbe:
            exec:
              command:
              - /usr/local/bin/liveness-ptp4l.sh
              - "25"  # max rms 25ns
            failureThreshold: {{ .Values.startupProbe.failureThreshold }}
            periodSeconds: {{ .Values.startupProbe.periodSeconds }}
          {{- end }}
          {{- if and (.Values.readinessProbe.enabled) (eq "1" (default .Values.config.serverOnly "0")) }}
          readinessProbe:
            exec:
              command:
              - /usr/local/bin/liveness-ptp4l.sh 
              - "25"  # max rms 25ns
            failureThreshold: {{ .Values.readinessProbe.failureThreshold }}
            periodSeconds: {{ .Values.readinessProbe.periodSeconds }}
          {{- end }}
        - name: {{ .Chart.Name }}-phc2sys
          securityContext:
            {{- toYaml .Values.securityContext | nindent 12 }}
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag | default .Chart.AppVersion }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          resources:
            {{- toYaml .Values.resources | nindent 12 }}
          command: [ "/etc/entrypoint/entrypoint-phc2sys.sh" ]
          args: [ "{{ .Values.interfaceName }}" ]
          volumeMounts:
            - name: config-volume
              mountPath: /etc/config
            - name: entrypoint-volume-phc2sys
              mountPath: /etc/entrypoint
            - name: ptp4l-run-volume
              mountPath: "/var/run"
              readOnly: false
          {{- if .Values.livenessProbe.enabled }}
          livenessProbe:
            exec:
              command:
              - cat
              - /tmp/phc2sys-healthy
            initialDelaySeconds: {{ .Values.livenessProbe.initialDelaySeconds }}
            periodSeconds: {{ .Values.livenessProbe.periodSeconds }}
          {{- end }}
          {{- if .Values.startupProbe.enabled }}
          startupProbe:
            exec:
              command:
              - cat
              - /tmp/phc2sys-healthy
            failureThreshold: {{ .Values.startupProbe.failureThreshold }}
            periodSeconds: {{ .Values.startupProbe.periodSeconds }}
          {{- end }}
          {{- if .Values.readinessProbe.enabled }}
          readinessProbe:
            exec:
              command:
              - cat
              - /tmp/phc2sys-healthy
            failureThreshold: {{ .Values.readinessProbe.failureThreshold }}
            periodSeconds: {{ .Values.readinessProbe.periodSeconds }}
          {{- end }}
        {{- if .Values.config.ts2phc.enabled }}
        - name: {{ .Chart.Name }}-ts2phc
          securityContext:
            {{- toYaml .Values.securityContext | nindent 12 }}
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag | default .Chart.AppVersion }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          resources:
            {{- toYaml .Values.resources | nindent 12 }}
          command: [ "/etc/entrypoint/entrypoint-ts2phc.sh" ]
          args: [ "{{ .Values.interfaceName }}", "25" ]
          volumeMounts:
            - name: ts2phc-config-volume
              mountPath: /etc/config
            - name: entrypoint-volume-ts2phc
              mountPath: /etc/entrypoint
            - name: ts2phc-leapseconds-volume
              mountPath: /etc/leapseconds
            - name: ptp4l-run-volume
              mountPath: "/var/run"
              readOnly: false
            - name: dev
              mountPath: /dev
          {{- if .Values.livenessProbe.enabled }}
          livenessProbe:
            exec:
              command:
              - cat
              - /tmp/ts2phc-healthy
            initialDelaySeconds: {{ .Values.livenessProbe.initialDelaySeconds }}
            periodSeconds: {{ .Values.livenessProbe.periodSeconds }}
          {{- end }}
          {{- if .Values.startupProbe.enabled }}
          startupProbe:
            exec:
              command:
              - cat
              - /tmp/ts2phc-healthy
            failureThreshold: {{ .Values.startupProbe.failureThreshold }}
            periodSeconds: {{ .Values.startupProbe.periodSeconds }}
          {{- end }}
          {{- if .Values.readinessProbe.enabled }}
          readinessProbe:
            exec:
              command:
              - cat
              - /tmp/ts2phc-healthy
            failureThreshold: {{ .Values.readinessProbe.failureThreshold }}
            periodSeconds: {{ .Values.readinessProbe.periodSeconds }}
          {{- end }}
        {{- end }}
      priorityClassName: system-node-critical
      {{- with .Values.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.affinity }}
      affinity:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.imagePullSecrets }}
      imagePullSecrets:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
